//@import '~assets/modules/_colors.scss';

// Colours from http://clrs$cc

$aqua: #7FDBFF;
$black: #111111;
$blue: #0074D9;
$fuchsia: #F012BE;
$gray: #AAAAAA;
$green: #2ECC40;
$lime: #01FF70;
$maroon: #85144B;
$navy: #001F3F;
$olive: #3D9970;
$orange: #FF851B;
$purple: #B10DC9;
$red: #FF4136;
$silver: #DDDDDD;
$teal: #39CCCC;
$yellow: #FFDC00;
$white: #FFFFFF;


.flex-container {
  display: flex;
  flex-direction: row;
  border: 1px solid $black;
}

.flex-container label {
  width: 25%;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  padding: 15px;
}

.flex-container input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  margin: 0;
  border-radius: 0;
  font-weight: 300;
  letter-spacing: .09em;
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .flex-container  {
      flex-direction: column;
    }
    .flex-container label {
      width: 100%;
      flex-grow: 1;
    }
}
