<div class="wrapper--page">
  <div class="header">
    <div class="container--header">
      <div>
          <open-hamburger (click)="toggleSidebarActive()" [flipHamburger]="isHamburgerFlipped"></open-hamburger>
      </div>
      <div class="container--title ">
        <div>
            <img class="icon--angular" width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
        <div class="hd hd--1">
          {{ title }}
        </div>
      </div>
      <div class="icon--github">
        <a href="https://github.com/NicholasMurray/open" target="_blank">
        </a>
      </div>
    </div>
  </div>
  <div class="nav" [class.togglesidebarnav]="isSidebarActive">
    <div class="container--hamBurger">
      <open-hamburger (click)="toggleSidebarActive()" [flipHamburger]="isHamburgerFlipped"></open-hamburger>
    </div>
    <ul>
      <li>
        <a routerLink="/cards">Cards</a>
      </li>
      <li>
          <a routerLink="/formfield">Form field</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
  </div>
</div>
