@import '../../../../assets/modules/_colors.scss';

.card {
  background-color: $white;
  border-radius: 5px;
  color: $black;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-bottom: 2em;
  position: relative;

  flex: auto;
}
