.wrapper--page {
  display: grid;
  grid-template-areas:
   "header"
   "nav"
   "content"
   "footer"
}

.header {
  grid-area: header;
  background-color: darken($teal,20%);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  margin-bottom: 2px;
}

.nav {
  grid-area: nav;
  background-color: darken($teal,10%);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.content {
  grid-area: content;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 599px) {

  .header {
    display: grid;
  }

}
