<h2>Cards</h2>
<div class="cards__wrapper">
  <div class="card--a">
    <open-card>
      <open-card-header>
        <span>Card Header</span>
      </open-card-header>
      <open-card-body>
        <img src="https://source.unsplash.com/random/550x400" alt="">
      </open-card-body>
      <open-card-footer>
        This is a link
      </open-card-footer>
    </open-card>
  </div>
  <div class="card--b">
    <open-card>
      <open-card-header>
        <div>Card Header</div>
      </open-card-header>
      <open-card-body>
        <p>
          Hella next level ut, dreamcatcher put a bird on it ex brunch knausgaard. Magna keytar trust fund drinking vinegar ut in poutine exercitation fashion axe post-ironic. Officia affogato VHS thundercats tumeric man bun before they sold out. Chambray polaroid put a bird on it art party selvage fashion axe church-key stumptown pop-up kale chips ennui mustache non officia. Tacos pop-up cray chillwave ugh sed man bun squid la croix vape readymade. Flexitarian activated charcoal yuccie palo santo.
        </p>
        <p>
          Schlitz exercitation you probably haven't heard of them paleo tumblr shaman chambray shabby chic marfa truffaut hell of mollit echo park. Photo booth XOXO vexillologist coloring book, fixie thundercats cold-pressed man bun crucifix freegan chartreuse meditation disrupt pork belly. Adaptogen id mustache chicharrones swag. Synth lorem mustache thundercats eu, skateboard viral jianbing normcore you probably haven't heard of them keytar tattooed nulla ut marfa.
        </p>
      </open-card-body>
      <open-card-footer>
        This is a link
      </open-card-footer>
    </open-card>
  </div>
  <div class="card--c">
    <open-card>
      <open-card-header>
        <div>Card Header</div>
      </open-card-header>
      <open-card-body>
        <img src="https://source.unsplash.com/random/270x200" alt="">
        <p>
          Migas bitters wayfarers, palo santo tacos magna beard pop-up scenester ut brunch. Man braid la croix celiac enim pickled whatever squid cold-pressed occupy, snackwave ethical blue bottle seitan. Photo booth occaecat irure locavore four loko.
        </p>
      </open-card-body>
      <open-card-footer>
        This is a link
      </open-card-footer>
    </open-card>
  </div>
  <div class="card--d">
    <open-card>
      <open-card-body>
        <img src="https://source.unsplash.com/random/270x400" alt="">
      </open-card-body>
      <open-card-footer>
        This is a link
      </open-card-footer>
    </open-card>
  </div>
</div>
